# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/synthora
DB_USER=synthora_admin
DB_PASSWORD=synthora_password
DB_NAME=synthora

# pgAdmin Configuration
PGADMIN_EMAIL=admin@synthora.com
PGADMIN_PASSWORD=admin
