# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/kemkendra
DB_USER=kemkendra_admin
DB_PASSWORD=kemkendra_password
DB_NAME=kemkendra

# pgAdmin Configuration
PGADMIN_EMAIL=admin@kemkendra.com
PGADMIN_PASSWORD=admin
